[paths]
source =
   luzfcb_todo
   */site-packages/luzfcb_todo

[run]
branch = True
source =
    luzfcb_todo
    # config
#parallel = true


[report]
show_missing = true
precision = 2
omit = *migrations*
